<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person profile</title>
</head>
<body>

<p th:utext="${person.getFullName() + ', ' + person.getBirthYear() + ', ' + person.getDateOfBirth() +
 '</br>' + 'Created at: ' + person.getCreatedAt()}"></p>

<br/>
<div th:if="${#lists.isEmpty(books)}">
    <p>Reader hasn't got any book yet!</p>
</div>
<div th:unless="${#lists.isEmpty(books)}">
    <b>Books:</b>
    <div th:each="book : ${books}">
        <div th:if="${book.isOverdue()}">
            <p th:style="'color: red;'"
               th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear() + ' year'}"></p>
        </div>
        <div th:unless="${book.isOverdue()}">
            <p th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear() + ' year'}"></p>
        </div>
    </div>
</div>
<hr/>

<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete"/>
</form>

<a href="/people">To people list</a>

</body>
</html>